@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Inconsolata:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
      font-family: Montserrat;
      letter-spacing: 0.03em;
  }
}

.second-font {
  font-family: Inconsolata;
}

.bg-gradient {
  background-color:hsla(218,31%,17%,1);
}